/*the div to be filled by javascript, on every page*/
#contentArea{
    width: 80vw;
}

/* UCLA BRUIN image*/
#top img {
    width: 16vmin;
}

/*social icons*/
#social img {
    width: 5vh;
    height: 5vh;
    object-fit: contain;
}
/*image and video sliders on the home page*/
#home-sliders .slider{
    width: 38.5vw;
    height: 21.66vw;
    max-width: 77vh;  /*so that they do not become too large on wide displays*/
    max-height: 43.32vh;
}

/*spacers added on the left and right of the sliders*/
#home-sliders .spacer{
    width: calc((38.5vw - 77vh) / 2);   /*keeps sliders well centered at their max dimensions*/
}
/*
.slider div{
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
}*/



.slider .reslide_arrow_left{
    display: none !important;
    width: 9% !important;
    height: 16% !important;
    background-repeat: no-repeat;
    -webkit-background-size: 200% 100%;
    -moz-background-size: 200% 100%;
    -o-background-size: 200% 100%;
    background-size: 200% 100%;
    background-position: left center !important;
}

.slider .reslide_arrow_right{
    display: none !important;
    width: 9% !important;
    height: 16% !important;
    background-repeat: no-repeat;
    -webkit-background-size: 200% 100%;
    -moz-background-size: 200% 100%;
    -o-background-size: 200% 100%;
    background-size: 200% 100%;
    background-position: right center !important;
}

.slider .reslide_navigator{
    width: 100% !important;
    height: 8.89% !important;
    padding: 0 1% !important;
    background-color: rgba(255,255,255,0.7) !important;
    top: 91.2% !important;
    left: 0 !important;
}

.slider .reslide_dot{
    width: 3% !important;
    height: 60% !important;
    margin: 1% !important;
    border-radius: 50% !important;
    border-color: clear !important;
    position: static !important;
    background-color: var(--gold) !important;
    float: left !important;
    opacity: 1 !important;
}

.slider #slider3_container .reslide_navigator .reslide_dotav{
    background-color: var(--trueBlue) !important;
}

.slider #slider1_container .reslide_navigator .reslide_dotav{
    background-color: var(--trueBlue) !important;
}
